.story-box{
    margin-top:40px;
    display:flex;
    flex:1;
    max-width: 100%;
    background-color: white;
    justify-content: center;
}


.story-bar{
    height: 80px;
    display: flex;
    flex: 1;
    background-color: white;
    max-width:660px;
    justify-content: space-between;
    align-items: center;
}


.story-bar div{
    display: flex;
    flex-direction: column;
}

.story-bar p{
    font-size: 12px;
    margin-top: 4px;
}


.avatar-story{
    height: 50px; 
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 228, 51);
    border-radius: 25px;
}
